<DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Password Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style100.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    
    <header>
        <nav>
               <div class="brand"><a href="">&nbsp;P.Manager <i class="fa fa-lock" aria-hidden="true"></i></a></div>
            <ul>
                <li><a href={% url 'index' %} "index.html">Home</a></li>
                <li><a href="javascript:;" onclick="displayModal('signup-modal');">Signup</a></li>
                <li><a href="javascript:;" onclick="displayModal('login-modal');">Login</a></li>
                <li><a href="javascript:;" onclick="displayModal('password-modal');">View</a></li>
                <li><a href="javascript:;" onclick="displayModal('add-password-modal');">Add</a></li>
            </ul>
        </nav>
    </header>
 
    <div class="modals-wrapper">
        <span id="close-modal" title="close"><i class="fa fa-times"></i></span>
        <div class="modal" id="signup-modal">
            <form action="">
            {% csrf_token %}
                <h2>SignUp</h2>
                <input type="text" autocomplete="off" name="username" placeholder="username">
                <input type="email"  autocomplete="off" name="email" placeholder="email">
                <input type="password" autocomplete="off" name="password" placeholder="password">
                <input type="password" autocomplete="off" name="password2" placeholder="confirm password">
                <input type="submit" value="SignUp">
            </form>    
        </div> 

      <div class="modal" id="login-modal">
        {% csrf_token %}
          <form action="">
              <h2>Login</h2>
              <br>
              <input type="text" autocomplete="off" name="username" placeholder="username">
              <input type="email" autocomplete="off" name="email" placeholder="email">
              <input type="password" autocomplete="off" name="password" placeholder="password">
              <input type="submit" value="Login">
          </form>    
      </div>

      <div class="modal" id="password-modal">
            <h2>URL or Name</h2>
            <img width="80" height="80" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
            <br>
            <input type="emai" name="email" placeholder="email"><i class="fas fa-copy copy" title="copy to clipboard"></i>
            <input type="password" name="username" value="password"><i class="fas fa-copy copy" title="copy to clipboard"></i>
  </div>  

  <div class="modal" id="add-password-modal">
    {% csrf_token %}
    <form action="">
        <h2>Add new password</h2>
        <input type="text" autocomplete="off" name="url" placeholder="url of website">
        <br/>
        <input type="email"  autocomplete="off" name="email" placeholder="email">
        <br/>
        <input type="password" autocomplete="off" name="password" placeholder="password">
        <br/>
        <input type="submit" value="Save">
    </form>    
</div>
</div>
<div class="container">
    <div class="card">
        <div class="actions">&nbsp;Actions
            <a href="" class="action-item">Delete</a>
            <a href="" class="action-item">View</a>
            <a href="" class="action-item">Update</a>
        </div>    
        <img width="50" height="50" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
        <div class="name">Google Account</div>
    </div> 
    
    <div class="card">
        <div class="actions">&nbsp;Actions
            <a href="" class="action-item">Delete</a>
            <a href="" class="action-item">View</a>
            <a href="" class="action-item">Update</a>
        </div>    
        <img width="50" height="50" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
        <div class="name">Google Account</div>
    </div>   


    <div class="card">
        <div class="actions">&nbsp;Actions
            <a href="" class="action-item">Delete</a>
            <a href="" class="action-item">View</a>
            <a href="" class="action-item">Update</a>
        </div>    
        <img width="50" height="50" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
        <div class="name">Google Account</div>
    </div>   

    <div class="card">
        <div class="actions">&nbsp;Actions
            <a href="" class="action-item">Delete</a>
            <a href="" class="action-item">View</a>
            <a href="" class="action-item">Update</a>
        </div>    
        <img width="50" height="50" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
        <div class="name">Google Account</div>
    </div>   

    <div class="card">
        <div class="actions">&nbsp;Actions
            <a href="" class="action-item">Delete</a>
            <a href="" class="action-item">View</a>
            <a href="" class="action-item">Update</a>
        </div>    
        <img width="50" height="50" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
        <div class="name">Google Account</div>
    </div>   

    <div class="card">
        <div class="actions">&nbsp;Actions
            <a href="" class="action-item">Delete</a>
            <a href="" class="action-item">View</a>
            <a href="" class="action-item">Update</a>
        </div>    
        <img width="50" height="50" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
        <div class="name">Google Account</div>
    </div>   

    <div class="card">
        <div class="actions">&nbsp;Actions
            <a href="" class="action-item">Delete</a>
            <a href="" class="action-item">View</a>
            <a href="" class="action-item">Update</a>
        </div>    
        <img width="50" height="50" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
        <div class="name">Google Account</div>
    </div>   

    <div class="card">
        <div class="actions">&nbsp;Actions
            <a href="" class="action-item">Delete</a>
            <a href="" class="action-item">View</a>
            <a href="" class="action-item">Update</a>
        </div>    
        <img width="50" height="50" src="https://cdn.pixabay.com/photo/2016/04/13/14/27/google-chrome-1326908_1280.png" alt="">
        <div class="name">Google Account</div>
    </div>   

</div>  

<footer>
    <p href="">Link to the project</p>
</footer>

</body>
</html>